<!DOCTYPE html>
<html>
<head>
    <title>Espezzialy Souza</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Portífolio</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}


</body>

</html>